.sidemenu {
  &__logo {
    cursor: pointer;
    width: 55px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 60px;
    margin-bottom: 10px;

    &:hover {
      background-color: $lightblue;
    }
  }
  &__tweet-btn {
    width: 70%;
  }

  & .MuiMenuItem-root:not(:last-child) {
    margin-bottom: 10px;
  }

  .MuiMenuItem-root:hover {
    background-color: rgb(238, 240, 241);
    border-radius: 50px;
  }

  .MuiListItemIcon-root {
    color: $black;
    margin-right: 5px;
  }
}
